/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 20%;
}

nav {
  float: left;
  width: 30%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

@font-face {
  font-family: 'bitstream_vera_serifroman';
  src: url('fonts/veraserif-webfont.woff2') format('woff2'),
       url('fonts/veraserif-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'tienneregular';
  src: url('fonts/tienne-regular-webfont.woff2') format('woff2'),
       url('fonts/tienne-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  font-size: 10px;
  font-family: 'bitstream_vera_serifroman';
}

body {
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
  word-spacing:  0.12rem;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: 0.05em;
  font-family: 'tienneregular';
  line-height: 1em;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p, a {
  font-size: 1.25rem;
}

section h2 + p {
  text-indent: 20px;
}

a {
  color: #a66;
  outline-style: none;
}

a:visited {
  color: #d99;
}

a:hover {
  color: aqua;
  text-decoration: none;
}

a:focus {
  color: blue;
  text-decoration: none;
}

a[href*="http"] {
  padding-right: 19px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 12px 12px;
}

a:active {
  background-color: #a66;
  color: whitesmoke;
}

ul li {
  list-style-type: circle
}

ol li {
  list-style-type: lower-roman;
}

nav a{
  text-decoration: none;
}

nav ul li{
  list-style-type: none;
  outline-style: ridge;
  outline-color: #a66;
  text-align: center;
  margin: 3rem;
  width: 20em;
}

nav ul a {
  font-size: 3rem;
  line-height: 5rem;
}